.primary-button {
    width: 35vw;
    max-width: 200px;
    padding: 1rem 0.5rem;
    margin: 0.5rem;

    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 1.5rem;
    box-shadow: rgba(50, 50, 50, 0.1) 3px 8px 10px 5px;
}

.primary-button:active {
    background-color: #1369d1;
}
