.secondary-button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    color: dodgerblue;
    background-color: rgb(250, 250, 250, 0.00);
    border: none;
}

.secondary-button:active {
    color: #1369d1;
}
