.breadcrumb {
    postion: relative;
    transform: translateY(35%);
    font-size: 1rem;
    padding: 0.5rem;
}

.breadcrumb li {
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb li + li:before {
    content: '/\00a0\00a0\00a0\00a0'
}

.breadcrumb a {
    color: var(--secondaryColor);
}