.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 15vh;
    padding: 0 2rem 0.4rem 0;
    margin: 1rem auto;
}

.footer h3 {
    text-align: center;
    padding-bottom: 2rem;
}

.footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.footer li {
    font-size: 1.1rem;
}

.footer a {
    text-decoration: none;
    color: var(--color);
}